<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>관리자 페이지 명령 도움말</title>
</head>

<body>
<h1>관리자 페이지 명령 도움말</h1>
<h2>명령에 끼워넣기</h2>
<p>%%name%% : 구매자의 이름을 넣습니다.</p>
<p>%%id%% : 구매자의 ID를 넣습니다.</p>
<p>%%email%% : 구매자의 이메일 주소를 넣습니다.</p>

<h2>명령 가능한 함수</h2>
<p>sendmail(address, title, text) : address에게 title이 제목인 text라는 메일을 보냅니다.</p>
</body>
</html>