<!DOCTYPE html>
<html>
<head>
    <style>
        #set_mcnick {
            width: 50vh;
        }
    </style>
    <title>마인크래프트 닉네임 설정</title>
</head>

<body>
<h1>특정 상품 구매를 위해 당신의 마인크래프트 닉네임이 필요합니다. 마인크래프트 닉네임을 입력해주세요.</h1>
<h2>* 마인크래프트가 없다면 비워도 됩니다.</h2>
<form action="/setmcnick">
    <input id="set_mcnick" type="text" name="mcnick" placeholder="마인크래프트 닉네임을 입력해 주세요.">
    <input type="submit">
</form>
</body>
</html>