#main_title {
    font-size: 3.5vh;
}
.no_exist_user {
    font-size: 2vh;
}
.product {
    margin-bottom: -110px;
    width: 30%;
}
.cart_title {
    position: relative;
    bottom: 160px;
    left: 160px;
    font-size: 3vh;
}
.cart_description {
    position: relative;
    bottom: 166px;
    left: 160px;
    font-size: 2.5vh;
}
.cart_price {
    position: relative;
    left: 160px;
    bottom: 140px;
    font-size: 2.5vh;
}
.remove_button {
    position: relative;
    left: 400px;
    bottom: 240px;
}
#money_edit, .save_data, .remove_button, p {
    font-size: 2vh;
}
#money_edit, .save_data {
    border: 1px solid #000000;
}